* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #1c1e21;
  color: #ffffff;
  display: flex;
  min-height: 100vh;
  margin: 0;
}


.container {
  display: flex;
  width: 100%;
}

.sidebar {
  width: 250px;
  background-color: #2d2f33;
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: fixed;
  height: 100vh;
  overflow: auto;
}

.sidebar .logo {
  font-size: 1.8em;
  font-weight: bold;
  font-size: 42px;
  background: -webkit-linear-gradient(#0634ea, #0ed9dd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
  text-transform: lowercase;
  text-align: center;
}

.sidebar nav ul {
  list-style-type: none;
  padding: 0;
}

.sidebar nav ul li {
  margin: 15px 0;
}

.sidebar nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  padding: 10px;
  transition: background-color 0.3s;
  border-radius: 5px;
}

.sidebar nav ul li a img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.sidebar nav ul li.active a {
  background-color: #ff0000;
  color: #1c1e21;
}

.sidebar nav ul li a:hover {
  background-color: #ff0000;
  color: #1c1e21;
}

.main-content {
  margin-left: 250px;
  padding: 20px;
  width: calc(100% - 250px);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

header {
  background-color: #b40e0e;
  color: #1c1e21;
  padding: 20px;
  border-radius: 10px;
  width: 800px;
}

header .section-info {
  display: flex;
  flex-direction: column;
}

header .section-info .section {
  font-weight: bold;
  margin-bottom: 5px;
}

header h1 {
  font-size: 1.5em;
  margin-top: 10px;
}

.lessons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.lesson {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: transform 0.3s;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  background-color: #dd8d8d;
  border: 7px solid #b40e0e;
}

.lesson:hover{
  background-color: #ffffff;
}

.lesson.active {
  transform: translateY(-5px);
  position: relative;
  left: 300px;
}

.lesson-icon img {
  width: 50px;
  height: 50px;
}

.start-button {
  background-color: transparent;
  color: #b40e0e;
  width: 100px;
  height: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.5em;
  position: relative;
  left: 2px;
  right:70px;
}
.lesson.locked{
  position: relative;
  left: 100px;
}

.lesson.locked .lesson-icon img {
  opacity: 0.5;
}

.lesson.three{
  position: relative;
  left: 350px;
}

.mascot{
  position: relative;
  left: 500px;
  width: 200px;
  height: 200px;
  top: -530px;
}

.lesson.four{
  position: relative;
  left: 150px;
}

.side-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.side-info .leaderboards, .side-info .daily-quests, .side-info .profile {
  background-color: #2d2f33;
  padding: 20px;
  border-radius: 10px;
}

.side-info h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.side-info p {
  margin-bottom: 10px;
}

progress {
  width: 100%;
  height: 20px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #444;
}

progress::-webkit-progress-bar {
  background-color: #444;
}

progress::-webkit-progress-value {
  background-color:  #ff0000;
}

.side-info a {
  color:  #ff0000;
  text-decoration: none;
  display: block;
  margin-top: 10px;
}

.create-profile {
  background-color:  #ff0000;
  color: #1c1e21;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
}

.sign-in {
  background-color: #ae0909;
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}












.leaderboad {
  display: flex;
  font-family: Arial, sans-serif;
  background-color: #2d2f33;
  margin: 0;
  padding: 0;
  border: solid 3px #707275;
}

.but{
  border-radius: 50%;
  width: 50px;
  height: 50px; 
}

#first{
  background-color: #CD7F32;
  border: solid 3px #71471e;
  width: 70px;
  height: 70px;
  top: 40px;
  left: 190px;
}

#third:hover{
  background-color: #FFD700;
  border: solid 3px #bba007; 
}

#second:hover{
  background-color: #C0C0C0;
  border: solid 3px #7a7a7a;
}

#second{
  background-color:  #2d2f33;
  border: solid 3px #707275;
  top: 40px;
  left: 330px;
}

#third{
  background-color:   #2d2f33;
  border: solid 3px  #707275;  
  top: 40px;
  left: 450px;


}

.gold-league-container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.title {
  color: #ffffff;
  margin-top: 50px;

  top: 10px;
}

.card {
  background-color: transparent;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 30px auto;
  width: 80%;
}

.text {
  color: #ffffff;
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.lesson-button {
  background-color: transparent;
  border-radius: 0%;
  color: #00d5ff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 0 auto;
  cursor: pointer;
  border: solid 3px #ffffff;
}

.lesson-button:hover{
  color: #000000;
  background-color: white;
}

.user-info {
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 30px auto;
  width: 75%;
  height: 10px;
}

.user-name {
  color: #333;
  font-size: 1.3rem;
  margin-bottom: 10px;
  position: relative;
  top: -13px;
}

.user-xp {
  color: #333;
  font-size: 1.3rem;
}

.user{
  background-color: #ffffff;
  border: solid 3px #00d5ff;;
  border-radius: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 30px auto;
  width: 75%;
  height: 10px;
}

#username{
  color: #333;
  font-size: 1.3rem;
  margin-bottom: 10px;
  position: relative;
  right: 10px;
  top: -10px;
}
#userxp{
  color: #333;
  font-size: 1.3rem;
  position: relative;
  top: -33px;
}
